body {
    font-family: "Fira Sans OT", arial;
    font-size: 17px;
    padding: 1%;
    background-color: #F0F0F0;
}

label, input[type=submit] {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

label.checkbox {
    font-weight: normal;
    margin: 0;
}

table {
    width: 70%;
}
tr.title {
    background: #efefef;
}
p.message {
    color: green;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

#menu {
    font-weight: normal;
    font-size: 1.2em;
    background: #4C67A1;
    box-shadow: 1px 1px 2px #5D5D5D;
    padding: 1%;
}

#menu li a {
    text-decoration: none;
    color: white;
}


#menu li a:hover {
    color: silver;
}

#menu img{
    height: 30px;
    width: 30px;
}

#menu li {
    display: inline-block;
    margin-right: 3%;
}

ul#menu li ul {
    position: absolute;
    background: #4C67A1;
    padding: 1%;
    display: none;
}

#menu form {
    position: absolute;
    background: #4C67A1;
    box-shadow: 1px 1px 2px #0B1219;
    color: white;
    padding: 1%;
    display: none;
}

#menu input {
    border: 1px solid white;
}



.error {
    color: red;
}

#manterLogado  {
    font-size: .8em;
}

#manterLogado input {
    float: left;
}

input {
    border: 0.5px solid gray;
    border-radius: 5px;
}

.ui-button {
    font-size: .8em;
}

#lateral{
    float: left;
    height: 80%;
    width: 15%;
    background: #ADBAD4;
    box-shadow: 1px 1px 2px #5D5D5D;
    padding: 1%;
    border-radius: 2px;
}

.conteudoPrincipal{
    font-weight: normal;
    height: 100%;
    width: 98%;
    background: #EFF1F6;
    box-shadow: 1px 1px 2px #5D5D5D;
    padding: 1%;
    border-radius: 2px;
}

#lateral li{
    list-style-type: none;
}

#lateral li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

#lateral li a:hover {
    background-color: #5D9649;
}