body {
    font-family: "Fira Sans OT", arial;
    font-size: 16px;
    background-color: #F0F0F0;
}

label, input[type=submit] {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

label.checkbox {
    font-weight: normal;
    margin: 0;
}

table {
    width: 70%;
}

tr.title {
    background: #efefef;
}

p.sucesso {
    color: green;
}

p.erro {
    color: red;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

#barraTopo{
    width: 99%;
    height: 50px;
    background: #4C67A1;
    box-shadow: 1px 1px 2px #5D5D5D;
    padding: 0.2%;
    margin: 0 auto;
}

#conteudoMenu{
    width: 982px;
}

#menu {
    font-weight: normal;
    font-size: 1em;
}

#menu li a {
    text-decoration: none;
    color: white;
}


#menu li a:hover {
    color: silver;
}

#menu img{
    height: 30px;
    width: 30px;
}

#menu li {
    display: inline-block;
    margin-right: 3%;
}

ul#menu li ul {
    position: absolute;
    background: #4C67A1;
    padding: 1%;
    display: none;
}

#menu form {
    position: absolute;
    background: #4C67A1;
    box-shadow: 1px 1px 2px #0B1219;
    color: white;
    padding: 1%;
    display: none;
}

#menu input {
    border: 1px solid white;
}

.error {
    color: red;
}

#manterLogado  {
    font-size: .8em;
}

#manterLogado input {
    float: left;
}

input {
    border: 0.5px solid gray;
    border-radius: 2px;
}

.ui-button {
    font-size: .8em;
}

.conteudoPrincipal{
    font-weight: normal;
    height: 100%;
    width: 98%;
    background: #EFF1F6;
    box-shadow: 1px 1px 2px #5D5D5D;
    padding: 1% 15%;
    border-radius: 2px;
    position: static;
}

#imgPerfil{
    display:none;
}
#imgPerfil2, #imgPerfil2 ul{
    list-style-type: none;
}

#dados{
    width: 500px;
    height: auto;
    margin:0 auto;
    text-align: left;
}

#dados a{
    text-decoration: none;
    color: #3B5998;
}

#formEsquerda input{
    width: 300px;
    height: 25px;
}

#formDireita{
    float: left;
    position: relative;
    margin-right: 10px;
}

#formEsquerda{
    float: left;
    position: relative;
    margin-right: 15px;
}

#formDireita input{
    width: 300px;
    height: 25px;
}

#botaoSubmit{
    position: absolute;
}

#formulario{
    width: 650px;
}
.botoes{
    clear: both;
}