body {
	font-family: arial;
}

label, input[type=submit] {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

label.checkbox {
	font-weight: normal;
	margin: 0;
}

table {
    width: 70%;
}
tr.title {
    background: #efefef;
}
p.message {
    color: green;
}

 label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
 }
 
 #menu {
	font-weight: bold;
	font-size: 1.2em;
	background: #99B2B7;
	padding: 1%;
 }
 
  #menu li a {
	text-decoration: none;
	color: white;
}

  #menu li a:hover {
	color: silver;
  }
  
  #menu li {
	display: inline-block;
	margin-right: 3%;
  }
  
    ul#menu li ul {
		position: absolute;
		background: #99B2B7;
		padding: 1%;
		display: none;
	}
	
	#menu form {
		position: absolute;
		background: #99B2B7;
		color: white;
		padding: 1%;
		display: none;
	}
	
	#menu input {
		border: 1px solid white;
	}
  
  .error {
	color: red;
  }
  
  #manterLogado  {
	font-size: .8em;
  }
  
  #manterLogado input {
	float: left;
  }
  
  input {
	border: 1px solid black;
        border-radius: 5px;
  }
  
  .ui-button {
	font-size: .8em;
  }